{% extends 'common/base.html' %}
{% load static from staticfiles %}

{% block linkscript%}
    <link rel="stylesheet" type="text/css" href="{% static 'car/css/cart.css' %}" />
{% endblock linkscript%}

{% block base %}
<div id="cart">
    <h3><b>购物车</b></h3>
    <form action="{% url 'App:doOrder' %}" method="post" id="myForm">
    {% csrf_token %}
    <section class="full">
        <input type="hidden" name="addressId" value="{{ address.id }}">
        <input type="hidden" name="money" value="{{ money }}">
		<section>
			<ul>
				<li>
                    <div class="clear">
                        <p class="infoJustify">收货人<b></b></p><p>:<span>{{ address.name }}</span></p>
                    </div>
                </li>
				<li>
                    <div class="clear">
                        <p class="infoJustify">电话<b></b></p><p>:<span>{{ address.phone }}</span><a class="change">修改></a></p>
                    </div>
                </li>
				<li>
                    <div class="clear"><p class="infoJustify">收货地址<b></b></p><p>:<span>{{ address.address }}</span></p>
                    </div>
                </li>
			</ul>


			<section class="bill">
				<p>闪送超市</p>
				<p>¥0起送,22:00前满¥30免运费</p>
				<a>凑单专区</a>
			</section>


			<section class="delivery">
				<span>收货时间</span> <span>一小时送达</span> <a>可预订></a>
			</section>
			<section class="delivery">
				<span>收货备注</span> <input type="text" name="message" placeholder="可输入100字以内特殊要求内容"/>
			</section>


            <menu>
				<ul>
                    {% for item in carObj%}
                    <li id="{{item.productid}}li" class="menuList">
                        <div class="confirm">
                            <span class="ischose">
                                <span>
                                √
                                </span>
                            </span>
                        </div>
                        <a href="#">
                            <img src="{{item.goods.productimg}}"/>
                            <p>{{item.goods.productname}}</p>
                            <span>{{item.goods.price}}</span>
                        </a>
                        <section>
{#                            <button class="subShopping"  ga="{{item.productid}}">-</button>#}
                            <span id="{{item.productid}}">{{item.num}}</span>
{#                            <button class="addShopping"  ga="{{item.productid}}">+</button>#}
                        </section>
                    </li>
                    {% endfor %}

					<li class="payTheBill">
						<p><span>共计:</span><span>总价:{{ money }}元</span></p>
						<a id="ok" onclick="document.getElementById('myForm').submit();">下单</a>
					</li>
				</ul>
			</menu>
		</section>
	</section>
    </form>
</div>
{% endblock base %}